* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.exemplo {
    background-color: #0ff;
    border: 2px solid #000;
    width: 200px;
    height: 200px;
    padding: 15px;
    margin: 15px;
}
#titulo1 {
    font-size: 20px;
    color: #fd0000;
}

#sitelogin {
    font-size: 18px;
    color: #99019e;
}

table {
    width: 600px;
 
}
td,th {
    padding: 10px;
    border:1px solid #000;
    text-align: left;

}
table thead {
    background-color: #0ff;
}
table tbody {
    background-color:   #fff;
}
tbody tr:hover {
    background-color: greenyellow;
}
tbody tr:nth-child(even) {
    background-color: #ccc;
}
tbody td {
    font-weight: bold;
    text-align: center;
}

select {
    width: 50px;
}